body {
  background-color: #F6989D;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
  color: #EBEBEB;
}

#canvas {
  display: block;
  margin: 0 auto;
}

.footer {
  text-align: center;
  margin-top: 200px;
}

.footer a {
  color: #D7D7D7;
}
