body {
  background-color: #82CA9D;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
  color: #EBEBEB;
}

h1 {
  margin-bottom: 10px;
}

a {
  color: #D7D7D7;
  text-decoration: none;
}

h3 {
  margin: 0 0 10px 0;
}

#canvas {
  display: block;
  margin: 0 auto;
}

#controls {
  margin: 0 auto;
  width: 276px;
  overflow: auto;
}

#background {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url('img/bg-gif-icon-256.png');
  background-size: contain;
  cursor: pointer;
  float: left;
}

#background.showing-gif {
  background-image: url('img/bg-color-icon-256.png');
}

#mic {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url('img/mic-icon-256.png');
  background-size: contain;
  cursor: pointer;
  float: left;
}

#mic.playing {
  background-image: url('img/mic-rec-icon-256.png');
}

#playback {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url('img/play-icon-256.png');
  background-size: contain;
  cursor: pointer;
  float: left;
}

#playback.playing {
  background-image: url('img/stop-icon-256.png');
}

#next {
  width: 58px;
  height: 64px;
  margin: 0 auto 0;
  background-image: url('img/next-icon-256.png');
  background-size: contain;
  cursor: pointer;
  float: left;
}

.footer {
  text-align: center;
  margin-top: 160px;
}
