body {
  background-color: #82CA9D;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
  color: #EBEBEB;
}

h1 {
  margin-bottom: 10px;
}

h1 a {
  color: #EBEBEB;
  text-decoration: none;
}

h3 {
  margin: 0 0 10px 0;
}

#canvas {
  display: block;
  margin: 0 auto;
}

#playback {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url('img/play-icon-256.png');
  background-size: contain;
  cursor: pointer;
}

#playback.playing {
  background-image: url('img/stop-icon-256.png');
}

.footer {
  text-align: center;
  margin-top: 160px;
}

.footer a {
  color: #D7D7D7;
}
